html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-flow: column;
}

header {
  flex: 0 1 10vh;
}

main {
  flex: 1 1 auto;
}

footer {
  flex: 0 1 3vh;
}

.gray {
  background-color: #D9D9D9;
}

.title-big {
  font-size: 64px;
}

.example {
  color: #999999;
}

.circle {
  border-radius: 50%;
}

@media screen and (min-width: 576px) {
  #response {
    height: 350px;
  }
}

@media screen and (max-width: 576px) {
  #response {
    height: 15vh;
  }
}